body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.selection-button.selected {
    background-color: rgba(0, 255, 33, 0.5);
}

#event-container, #betslip {
    display: inline-block;
    width: 49%;
    vertical-align: top;
}

#betslip {
    background-color: rgba(182, 255, 0, 0.5);
    height: 500px;
    overflow: auto;
}

#betslip .betslip-selection {
    margin: 5px;
    /*height: 65px;*/
    background-color: rgba(182, 255, 0, 0.5);
    border: 1px dashed black;
    padding: 2px;
}

#betslip .betslip-selection .selection-info-container {
    font-weight: bold;
    font-size: 15px;
}

#betslip .betslip-selection .event-info-container {
}

#betslip .betslip-selection .betslip-return-info-container {
    text-align: right;
    display: inline;
    margin: auto;
}
